

body{
    background-color: #F7F7FF;
    font-size: 15px;
    font-family: 'Montserrat', serif;
    text-align: justify;
    margin: 7% 0%;
    line-height: 1,9;    
}

h1,
h2,
h3{
    font-family: 'Nanum Myeongjo', serif;
    letter-spacing: 2px;
}

h1{
    font-size: 32px;
    text-align: center;
    margin: 5% 0%
}


h2{
    font-size: 20px;
    margin: 7% 0% 0% 0%;
}

h3{
    font-size: 15px;
    margin: 7% 0% 0% 0%;

}

.columns {
    display: table;
    width: 60%;
    margin-left: 20%;
  }
  
        .column1 {
            display: table-cell;
            width: 20%;
            color: #F7F7FF;
            background-color: #586994;
            padding: 2%;
        }

        .column2 {
            display: table-cell; 
            width: 40%;
            background-color: #FFFBFF;
            color: #453823;
            padding: 2%;
            margin-top: 0%;
            padding-top: 0%;
        }

a{
    font-style: normal;
    color: #F87060;
}

    a:hover{
        color:  #F7F7FF;
    }


footer{
    color: #F87060;
    font-size: 16px;
    margin: 10% 0% 0% 0%;
    text-align: center;
    letter-spacing: 2px;
}

.ja{
    border: 3px solid #F7F7FF;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.about{
    text-align: center;
    display: inline;
    letter-spacing: 2px;
}

.column1 h2{
    margin-top:15%;
}

.education,{
    text-align: left;
}